.container-categories {
    position: fixed;
    top: 0px;
    right: -201px;
    width: 200px;
    height: 100vh;
    background-color: rgba(76, 84, 92, 0.377);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
    z-index: 300;
}

.active-container-categories {
    right: 0px; 
}

.container-categories .icon-open {
    color: rgb(245, 244, 244);
    height: 70px;
    width: 30px;
    background-color: rgba(76, 84, 92, 0.377);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    left: -30px;
    bottom: 120px;
    font-size: 20px;
}

.container-categories .icon-open:hover {
    background-color: rgba(76, 84, 92, 0.445);
}

.container-categories .icon-open:hover svg {
    transform: scale(1.2);
}

.scale {
    transform: scale(1.2);
    color: tomato;
}

.container-categories .container-cards {
    width: 90%;
    height: 418px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.container-categories .container-cards .card-category {
    width: 90%;
    height: 35px;
    border: 2px solid #000;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 10px;
    background-color: #cbe0aa;
}

.container-categories .card-category .counter {
    border-radius: 50%;
    background-color: rgb(207, 162, 65);
    color: white;
    position: absolute;
    top: -8px;
    right: -5px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.container-categories .add-card {
    width: 75%;
    height: 35px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
}